*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --White: hsl(0, 0%, 100%);
    --Stone-100: hsl(30, 54%, 90%);
    --Stone-150: hsl(30, 18%, 87%);
    --Stone-600: hsl(30, 10%, 34%);
    --Stone-900: hsl(24, 5%, 18%);
    --Brown-800: hsl(14, 45%, 36%);
    --Rose-800: hsl(332, 51%, 32%);
    --Rose-50: hsl(330, 100%, 98%);
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:var(--Stone-100);
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
}

main{
    width:1000px;
    padding-top: 20px;
}
main div{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: space-between;  */
    background-color: var(--White);
    border-radius: 12px;
    padding-left: 20px;
    margin: 20px;
    
}
img{
    padding: 12px;
    width: 90%;
    border-radius: 12px;
}
h1{
    font-family: 'Young Serif', serif;
    color: var(--Stone-900);
    font-weight: 700;
}
p,li{
    color: var(--Stone-600);
}
.time{
    background-color: var(--Rose-50);
    width:90%;

}
ul,ol{
    margin-left: 20px;
    
}
.time h4,.time li::marker{
    color: var(--Rose-800);
}
.time h4{
    font-weight: 700;
}
.time ul li{
    color: var(--Stone-900);
    font-weight: 400;
    padding-top: 12px;
}
span{
    color: var(--Stone-900);
    font-weight: 600;
}
li::marker{
    font-weight: 600;
    color: var(--Brown-800);
}
.nutritional{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid var(--Stone-150);
      border-radius: 0; 
}
h3{
    font-family: 'Young Serif', serif;
    color: var(--Brown-800);
    font-weight: 900;
    padding-bottom: 12px;
}
hr{
    margin: 12px 0;
}
.nutritional h3{
    font-family: 'Outfit', sans-serif;
}

